body{

background-image:url(3.jpg);
background-size:cover;
}


.a input[type="password"]{
	
	width:200px;
	height:30px;
	border:1px;
	border-radius:5px;
	-webkit-border-radius:5px;
}
.a input[type="text"]{
	
	width:200px;
	height:30px;
	border:1px;
	border-radius:5px;
	-webkit-border-radius:5px;
}


.a input [type="radio"]
{
    width:200px;
	height:30px;
	border:1px;
	border-radius:5px;
	-webkit-border-radius:5px;

}
.a input[type="submit"]{
	
	width:100px;
	height:30px;
	border:0;
	border-radius:10px;
	-webkit-border-radius:5px;
	background-color:skyblue;
}